* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#img-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 900px;

}

.rotateMore {
    animation: circle 10s infinite normal linear;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cubes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 900px;
    transform-style: preserve-3d;
}

.cubes0 {
    animation: spin 20s infinite normal linear;
}

.cubes1 {
    animation: spin2 20s infinite normal linear;
}

.panels {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

#one {
    object-position: left top;
}

#two {
    object-position: -300px top;
}

#three {
    object-position: -600px top;
}

#four {
    object-position: -900px top;
}

#five {
    object-position: 0px -300px;
}

#six {
    object-position: -300px -300px;
}

#seven {
    object-position: -600px -300px;
}

#eight {
    object-position: -900px -300px;
}

#nine {
    object-position: 0px -600px;
}

#ten {
    object-position: -300px -600px;
}

#eleven {
    object-position: -600px -600px;
}

#twelve {
    object-position: -900px -600px;
}




.face0 {
    transform: translateZ(150px);
}

.face1 {
    transform: translateZ(-150px);
}

.face2 {
    transform: translateX(150px) rotateY(90deg);
}

.face3 {
    transform: translateX(-150px) rotateY(90deg);
}

.face4 {
    transform: translateY(150px) rotateX(90deg);
}

.face5 {
    transform: translateY(-150px) rotateX(90deg);
}

.face6 {
    transform: translateZ(150px);
}

.face7 {
    transform: translateZ(-150px);
}

.face8 {
    transform: translateX(150px) rotateY(90deg);
}

.face9 {
    transform: translateX(-150px) rotateY(90deg);
}

.face10 {
    transform: translateY(150px) rotateX(90deg);
}

.face11 {
    transform: translateY(-150px) rotateX(90deg);
}

@keyframes spin {
    0% {
        transform: rotate3d(1, 2, 0, -720deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate3d(2, 1, 0, 720deg);
    }
}